
.vs/GoGoMount/FileContentIndex/2ee7002c-b69e-4bae-ace9-49d257bc1a7c.vsidx
.vs/GoGoMount/v17/.wsuo
.vs/GoGoMount/v17/DocumentLayout.json
.vscode/settings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite